.u-section-1 {
  min-height: 1019px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 337px);
  left: 0;
  right: auto;
}

.u-section-1 .u-list-1 {
  width: 496px;
  margin: 60px calc(((100% - 1140px) / 2) + 43px) 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 561px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -61px 0 0 107px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 107px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -61px 0 0 107px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0 107px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -61px 0 0 107px;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0 107px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 495px;
  min-height: 324px;
  margin: -594px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin: 18px 0 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 60px 0 0;
}

.u-section-1 .u-group-2 {
  background-image: none;
  width: 495px;
  min-height: 242px;
  margin: 32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-5 {
  padding-left: 40px;
  padding-right: 39px;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 4px 1px 0;
}

.u-section-1 .u-text-10 {
  margin: -55px 1px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 73px calc(((100% - 1140px) / 2) + 462px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 337px);
  }

  .u-section-1 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-9 {
    font-weight: 400;
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 262px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 337px);
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-list-1 {
    margin-right: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2) + 42px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-right: calc(((100% - 540px) / 2) + 43px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}